section{padding:10px 20px;}
section:nth-of-type(2n){background-color:#eee;}
/* ************************************* */
/* Progress Bar Animation using CSS only */
/*        Edit the Animation code  Only      */
 #wrapper{
    width:200px;height:25px;
    position:relative;
    border:solid thin black;}
/* Animated Bar */
 #wrapper>div{
    height:100%;
    background-color:green;
    animation-name:loading;
    animation-duration: 5s;
    animation-timing-function: linear;
     
    }
/* Animation */
  @keyframes loading {
    from {width: 0; background-color: lightyellow;}
    to   { width: 100%; background-color: green;  }
    }
/* **************************************** */
/* Progress Circle Animation using CSS only */ 
/*         Add jsFiddle CSS code here       */


/* ***************************************** */
/* Progress Circle Animation using JS/jQuery */ 
/*         Add jsFiddle CSS code here        */

